<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/project.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div class="container main">
            <div class="row">
                <div class="card col-sm-3.1" style="width:350px">
                    <img class="card-img-top" src="/pic/e5.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title">Employee Management System</h4>
                    <p class="card-text">This website is for managing details of Employee. includes personal detail , joinging date and salary.</p>
                    <h5>HTML|BOOTSTRAP|PHP|MYSQL</h5>
                    <a href="/home/projects/employeeproject" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
                <div class="card col-sm-3.1" style="width:350px">
                    <img class="card-img-top" src="/pic/e6.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title">Learning Platform Application</h4>
                    <p class="card-text">Application involves modules and modules have voice assistant chapters.Application is created by using kivy in python</p>
                    <h5>Kivy|pyttsx3|gtts|python</h5>
                    <a href="/home/projects/learningplatform" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
                <div class="card col-sm-3.1" style="width:350px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title">Rest API</h4>
                    <br>
                    <p class="card-text">Rest api includes products and orders.other functionality for user are  signup and signin.All operation are based on object id.</p>
                    
                    <h5>NODE JS|EXPRESS</h5>
                    <!-- <h5>Kivy|pyttsx3|gtts|python</h5> -->
                    
                    <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
        </div>
          
    </main>
    <%- include('includes/end.ejs') %>